<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>TextCraft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body data-page="<%= controller_name %>_<%= action_name %>">
    <!-- Main Section -->
    <div class="hero-section">
      <div class="hero-content">
        <%= image_tag 'TextCraft.webp', alt: 'TextCraft', class: 'hero-image' %>
        <h1>Explorez des Histoires Uniques sur TextCraft</h1>
        <p>Plongez dans un univers où l'imagination n'a pas de limites.</p>
        <%= link_to "Commencer votre aventure", new_user_registration_path, class: 'cta-button' %>
      </div>
    </div>

    <section class="popular-stories">
      <h2>Histoires Populaires par Catégorie</h2>
      <div class="carousel-container" id="search-carousel">
        <button class="carousel-button left">
          <i class="fas fa-chevron-left"></i>
        </button>
      <div class="carousel">
        <% @categories.each do |category_data| %>
        <div class="carousel-item card-index">

          <% story = category_data[:popular_story] %>
          <div class="story-item card-home">
            <h3 class="category-name"><%= category_data[:category].name %></h3> <!-- Nom de la catégorie -->

            <!-- Image de couverture ou image par défaut -->
            <% if story.cover_image_url.present? %>
              <%= image_tag story.cover_image_url, class: "card-home__image" %>
            <% else %>
              <%= image_tag("default.jpg", alt: "Couverture de #{story.title}", class: "card-home__image") %>
            <% end %>

            <!-- Overlay contenant le titre et la description -->
            <div class="card-home__overlay">
              <div class="card-home__header">
                <h3 class="card-home__title"><%= link_to story.title, story_path(story), class: 'card-home__title_link' %></h3>
                <span class="card-home__tagline">par <%= story.user.username %></span>
              </div>
              <p class="card-home__description"><%= truncate(story.description, length: 250) %></p>
              <div class="card-home__arrow">⇧</div>
            </div>
          </div>
        </div>
      <% end %>
      </div>

        <button class="carousel-button right">
          <i class="fas fa-chevron-right"></i>
        </button>

      </div>
    </section>
  </body>
</html>
