<%= form_with(model: @story, local: true, class: 'story-form') do |form| %>
  <div class="form-group">
    <%= form.label :title, "Titre de l'histoire", class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control input-field' %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description", class: 'form-label', for: "description" %>
<%= form.text_area :description, maxlength: 500, class: 'form-control input-field-desc', id: 'description' %>
<p id="charCount"></p>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var textarea = document.getElementById('description');
    var charCount = document.getElementById('charCount');

    // Fonction pour mettre à jour le compteur de caractères
    function updateCharCount() {
      var remaining = 500 - textarea.value.length;
      charCount.textContent = remaining + ' caractères restants';
    }

    // Mettre à jour le compteur au chargement de la page (en cas de texte préexistant)
    updateCharCount();

    // Mettre à jour le compteur à chaque fois que l'utilisateur tape dans le champ
    textarea.addEventListener('input', updateCharCount);
  });
</script>

  <!-- Bouton pour analyser l'histoire -->
  <% if @story&.persisted? %>
    <div class="form-group">
      <%= link_to "Analyser le résumé pour obtenir des tags", analyze_story_path(@story), remote: true, method: :post, class: 'btn btn-outline-primary btn-analyze' %>
    </div>
  <% else %>
    <div class="form-group">
      <button class="btn btn-outline-primary" disabled>Analyser le résumé pour obtenir des tags</button>
      <p class="text-muted">Enregistrez l'histoire d'abord pour analyser le résumé.</p>
    </div>
  <% end %>

  <!-- Pour les tags suggérés -->
  <div class="tags-container">
    <div id="suggested-tags" class="form-group">
      <% if @suggested_tags.present? %>
        <h4>Tags suggérés :</h4>
        <div class="suggested-tags-container">
          <% @suggested_tags.each do |tag| %>
            <div class="form-check">
              <%= check_box_tag "story[suggested_tags][]", tag, @story.suggested_tags.include?(tag), class: 'form-check-input' %>
              <%= label_tag "story_tags_#{tag}", tag, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Pour les tags prédéfinis -->
  <div class="tags-container">
    <%= form.label :tag_ids, "Tags prédéfinis" %>
    <div id="existing-tags" class="predefined-tags-container">
      <% # Trier les tags pour afficher d'abord ceux qui sont déjà sélectionnés %>
      <% sorted_tags = Tag.all.sort_by { |tag| @story.tag_ids.include?(tag.id) ? 0 : 1 } %>
      <% sorted_tags.each do |tag| %>
        <div class="form-check">
          <%= check_box_tag "story[tag_ids][]", tag.id, @story.tag_ids.include?(tag.id), class: 'form-check-input' %>
          <%= label_tag "story_tag_ids_#{tag.id}", tag.name, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
  </div>



  <div class="form-group">
    <%= form.label :category_id, "Choisir une catégorie", class: 'form-label' %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Sélectionnez une catégorie", class: "form-control input-field" %>
  </div>

  <div class="form-group">
    <%= form.submit "Mettre à jour l'histoire", class: 'btn btn-primary cta-button' %>
  </div>

  <div class="field">
    <%= form.label :cover_image_url, "Lien de l'image de couverture" %><br>
    <%= form.text_field :cover_image_url, placeholder: "https://exemple.com/mon-image.jpg" %>
  </div>

  <% if @story.cover_image_url.present? %>
    <div class="cover-preview">
      <p>Image actuelle :</p>
      <%= image_tag @story.cover_image_url, class: "story-cover-edit" %>
    </div>
  <% end %>
<% end %>

<div class="form-group">
  <%= link_to 'Retour aux histoires', stories_path, class: 'btn btn-secondary cta-button' %>
</div>
