<div class="story-sections-container">
  <!-- Dernières histoires lues -->
  <div class="last-read-container section">
    <% if user_signed_in? %>
      <% if @read_stories.any? %>
        <h1 class="section-title">Dernières histoires lues</h1>
        <div class="stories-grid">
          <% @read_stories.each do |story| %>
            <div class="story-card">
              <%= image_tag("default.jpg", alt: "Couverture de #{story.title}", class: "story-cover") %>

              <div class="story-info">
                <%= link_to story.title, story_path(story), class: "story-title" %>
                <small>par <%= story.user.username %></small>

                <% last_chapter = story.last_read_chapter_for_user(current_user) %>
                <% if last_chapter %>
                  <div class="last-read-chapter">
                    <p>Dernier chapitre lu :
                      <%= link_to last_chapter.title, story_chapter_path(story, last_chapter), class: "chapter-link" %>
                    </p>
                  </div>
                <% else %>
                  <p class="no-chapter">Aucun chapitre lu récemment</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Vous n'avez lu aucune histoire récemment.</p>
      <% end %>
    <% end %>
  </div>

  <!-- Dernières histoires mises à jour -->
  <div class="last-updated-container section">
    <h1 class="section-title">Dernières histoires mises à jour</h1>
    <div class="stories-grid">
      <% @stories.each do |story| %>
        <div class="story-card">
          <%= image_tag("default.jpg", alt: "Couverture de #{story.title}", class: "story-cover") %>
          <div class="story-info">
            <%= link_to story.title, story_path(story), class: "story-title" %>
            <small>par <%= story.user.username %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Mes histoires -->
  <% if user_signed_in? %>
    <div class="my-stories section">
      <h1 class="section-title">Mes histoires</h1>
      <div class="stories-grid">
        <% @my_stories.each do |story| %>
          <div class="story-card">
            <%= image_tag("default.jpg", alt: "Couverture de #{story.title}", class: "story-cover") %>
            <div class="story-info">
              <h2><%= link_to story.title, story_path(story), class: "story-title" %></h2>
              <p class="story-description"><%= story.description.truncate(100) %></p>
              <div class="story-actions">
                <%= link_to 'Lire', story_path(story), class: 'btn btn-read' %>
                <%= link_to 'Modifier', edit_story_path(story), class: 'btn btn-edit' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
