<div class="category-show-container">
  <h1 class="section-title">Histoires dans la catégorie <%= @category.name %></h1>

  <div class="stories-grid">
    <% @stories.each do |story| %>
      <div class="story-card">
        <% if story.cover_image_url.present? %>
          <%= image_tag story.cover_image_url, class: "story-cover" %>
        <% else %>
          <%= image_tag "default.jpg", alt: "Couverture de #{story.title}", class: "story-cover" %>
        <% end %>
        <div class="story-info">
          <%= link_to story.title, story_path(story), class: "story-title" %>
          <small>par <%= story.user.username %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
