<!DOCTYPE html>
<html>
  <head>
    <title>TextCraft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

    <!-- Charger la couleur de l'utilisateur ou la couleur par défaut -->
    <style>
      :root {
        --primary-color: <%= @user_color %>;
        --opposite-color: <%= current_user&.opposite_color || "#FFFFFF" %>;
      }
    </style>

  </head>
  <body data-turbo="false" data-user-color="<%= @user_color %>" data-opposite-color="<%= current_user&.opposite_color || '#FFFFFF' %>">
    <header class="main-header">
      <% if user_signed_in? %>
        <nav class="nav-container">
          <!-- Section gauche : Accueil et Catégories -->
          <div class="nav-left">
            <%= link_to 'Accueil', stories_path, class: 'nav-link logo-link' %>
            <!-- Menu déroulant pour les catégories -->
            <div class="header-categories-dropdown">
              <button class="nav-link dropdown-toggle" id="categoriesDropdown" type="button" aria-expanded="false">
                Catégories
              </button>
              <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                <% Category.all.each do |category| %>
                  <li><%= link_to category.name, category_path(category), class: 'dropdown-item' %></li>
                <% end %>
              </ul>
            </div>
            <div class="color-picker-container">
              <label for="primaryColorPicker"></label>
              <input type="color" id="primaryColorPicker" name="primaryColorPicker" value="<%= @user_color %>">
            </div>

            <%= form_with url: search_stories_path, method: :get, local: true, class: "tag-search-form" do %>
              <div class="form-group">
                <%= label_tag :query, "Rechercher des histoires" %>
                <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Recherche par titre, description ou tags" %>
              </div>
              <div class="form-group">
                <%= submit_tag 'Rechercher', class: 'btn btn-primary' %>
              </div>
            <% end %>

          </div>

          <!-- Section droite : Menu utilisateur -->
          <div class="dropdown user-menu">
            <button class="nav-link dropdown-toggle" type="button" id="userDropdown" aria-expanded="false">
              <i class="fas fa-user"></i> <%= current_user.username || current_user.email %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><%= link_to 'Mon profil', user_path(current_user), class: 'dropdown-item' %></li>
              <li><%= link_to 'Paramètres', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'dropdown-item btn-logout' %></li>
            </ul>
          </div>
        </nav>
      <% else %>
        <nav class="nav-container">
          <div class="nav-left">
            <%= link_to 'TextCraft', unauthenticated_root_path, class: 'logo-link' %>
          </div>
          <div class="nav-right">
            <%= link_to 'Se connecter', new_user_session_path, class: 'btn btn-login' %>
            <%= link_to "S'inscrire", new_user_registration_path, class: 'signup-link' %>
          </div>
        </nav>
      <% end %>

      <!-- Bouton Hamburger pour le menu mobile aligné à gauche -->
      <div class="mobile-menu-toggle" id="mobileMenuToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- Menu mobile caché par défaut et placé à gauche -->
      <nav id="mobileMenu" class="mobile-menu">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Accueil', authenticated_root_path, class: 'menu-link btn btn-primary' %></li>
            <li><%= link_to 'Catégories', categories_path, class: 'menu-link btn btn-primary' %></li>
            <li><%= link_to 'Mon Profil', user_path(current_user), class: 'menu-link btn btn-secondary' %></li>
            <li><%= link_to 'Paramètres', edit_user_registration_path, class: 'menu-link btn btn-secondary' %></li>
            <li><%= button_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'menu-link btn btn-danger' %></li>
            <li>
              <!-- Label caché pour l'accessibilité -->
              <label for="primaryColorPicker" class="visually-hidden"></label>

              <!-- Bouton personnalisé pour ouvrir le color picker -->
              <button id="color-picker-button" class="menu-link btn btn-secondary" onclick="document.getElementById('primaryColorPicker').click();">
              </button>

              <!-- Input color caché -->
              <input type="color" id="primaryColorPicker" value="<%= current_user&.primary_color || '#ff6f61' %>" style="display:none;">
            </li>
          <% else %>
            <li><%= link_to 'TextCraft', unauthenticated_root_path, class: 'menu-link btn btn-primary' %></li>
            <li><%= link_to 'Se connecter', new_user_session_path, class: 'menu-link btn', style: "background-color: #ff6f61" %></li>
            <li><%= link_to "S'inscrire", new_user_registration_path, class: 'menu-link btn', style: "background-color: #ff6f61" %></li>
          <% end %>
        </ul>
          <% if user_signed_in? %>
            <%= form_with url: search_stories_path, method: :get, local: true, class: "tag-search-form" do %>
              <div class="form-group">
                <%= label_tag :query, "Rechercher des histoires" %>
                <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Recherche par titre, description ou tags" %>
              </div>
              <div class="form-group">
                <%= submit_tag 'Rechercher', class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% end %>
      </nav>
    </header>

    <div id="flash-messages"></div>

    <!-- Modale pour afficher le feedback d'analyse -->
    <% if params[:show_modal] == "true" || (session[:feedback].present? && params[:action] != 'show') %>
      <div class="modal-overlay">
        <div class="modal-container">
          <button class="modal-close" onclick="closeModal()">×</button>
          <div class="modal-header">
            Rapport d'analyse
          </div>
          <div class="modal-body">
            <%= raw session.delete(:feedback) %> <!-- Afficher et supprimer le feedback stocké -->
          </div>
          <div class="modal-footer">
            <button onclick="closeModal()">Fermer</button>
          </div>
        </div>
      </div>
    <% end %>

    <script>
      function closeModal() {
        document.querySelector('.modal-overlay').style.display = 'none';
      }
    </script>

    <%= yield %>

    <footer class="main-footer">
      <div class="footer-container">
        <p>© 2024 TextCraft. Tous droits réservés.</p>
        <nav class="footer-nav">
          <ul>
            <li><%= link_to 'Confidentialité', privacy_path %></li>
            <li><%= link_to 'Conditions', terms_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="module" src="<%= asset_path 'color_picker.js' %>"></script>
    <script type="module" src="<%= asset_path 'init_color.js' %>"></script>
  </body>
</html>
